body{
  background-color: yellow;
}

.off-screen {
  position: absolute;
  left: -9999px;
}

#scoreboard {
  font-size: 30px;
  font-family: sans-serif;
  position: absolute;
  top: 185px;
  left: 669px;
}
